body{
    background-color:fff;
}
/* #cv-form{
    display: none;
} */
#cv-template{
    display: none;
}
.myimg{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    clip-path: circle();
    overflow: hidden;
}

.background{
    background-color: rgb(234, 191, 247);
}